* {
  box-sizing: border-box;
}

svg {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
