#webpack-dev-server-client-overlay {
  display: none !important;
}

@import "fonts";

* {
  box-sizing: border-box;
}

svg {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Mont", sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
