@import "colors";
@import "fonts";

.breadcrumbs {
  padding: 24px 0 40px;
  display: inline-flex;
  gap: 8px;

  &-arrow__right {
    fill: $gray-icons;
  }
}

.breadcrumb {
  &-active {
    color: $primary-color;
    text-decoration: none;
    font-family: "Mont", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }

  &-not-active {
    color: $gray-secondary;
  }
}
