@import "colors";

.category {
  margin-bottom: 80px;

  &-img__wrapper {
    display: flex;
    gap: 16px;
    margin-top: 24px;
  }

  &-title {
    font-family: "Mont", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $primary-color;
    padding-top: 24px;

    &__first {
      padding-top: 15px;
    }
  }

  &-text {
    font-family: "Mont", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: $gray-secondary;
    padding-top: 4px;
  }
}
