@import "colors";

.footer {
  padding: 36px 152px;
  border-top: 1px solid $elements-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $white;

  &-btn__wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &-description {
    font-family: "Mont", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $gray-secondary;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px;
  }
}
