@import "colors";

.card {
  width: var(--card-width, 272px);
  border: 1px solid $elements-color;
  text-align: center;

  &-img {
    max-width: 208px;
    max-height: 208px;
    margin: 32px 24px 24px;
  }

  &-title {
    text-align: start;
    font-family: "Mont", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: $primary-color;
    margin-bottom: 6.5px;
    height: 42px;
    width: 224px;
  }

  &-container {
    padding: 0 24px;
  }

  &-price {
    text-align: start;
    font-family: "Mont", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-right: 40px;

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &-full__price {
    font-family: "Mont", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $gray-secondary;
    text-decoration: line-through;
  }

  &-description {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }
}

.underline {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid $elements-color;
  padding-top: 8px;
}

.description-title {
  font-family: "Mont", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $gray-secondary;
  text-align: start;
  padding-bottom: 8px;
}

.description-title:last-child {
  padding-bottom: 0;
}

.description-text {
  text-align: right;
  font-family: "Mont", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $primary-color;
  padding-bottom: 8px;
}

.description-text:last-child {
  padding-bottom: 0;
}
