@import "colors";

.phones {
  margin-bottom: 80px;

  &-text {
    font-family: "Mont", sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.32px;
    color: $primary-color;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-container {
    overflow: hidden;
    --col-gap: 16px;

    --card-width: 272px;

   width: var(--card-width);
   margin: auto;

  @media screen and (min-width: 560px) {
    --per-row: 2;
     width: calc(var(--card-width) * var(--per-row) + var(--col-gap));
  }

  @media screen and (min-width: 848px) {
    --per-row: 3;

    width: calc(var(--card-width) * var(--per-row) + var(--col-gap) * 2);
  }

  @media screen and (min-width: 1136px) {
    --per-row: 4;
    width: calc(var(--card-width) * var(--per-row) + var(--col-gap) * 3);
  }
  }

  &-list {
    // --col-gap: 16px;
    // display: flex;
    // gap: var(--col-gap);
    // transition: transform 250ms linear 0s;

    --per-row: 1;
     width: var(--card-width);

     display: flex;
     gap: var(--col-gap);
     justify-content: space-between;
     padding: 0;

    transition: transform 250ms linear 0s;
  }
}

.arrow-img__wrapper {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-bottom: 16px;
}

.arrow-btn {
  width: 32px;
  height: 32px;
  border: 1px solid $elements-color;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.arrow-image {
  fill: $gray-icons;
}

.arrow-image:hover {
  fill: $primary-color;
}

.arrow-btn:hover {
  border: 1px solid $gray-icons;
}


