@import "colors";

.phones {
  margin-bottom: 80px;

  &-text {
    font-family: "Mont", sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.32px;
    color: $primary-color;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-container {
    margin-top: 24px;
    overflow: hidden;
  }

  &-list {
    --col-gap: 16px;
    display: flex;
    gap: var(--col-gap);
    transition: transform 250ms linear 0s;
  }
}

.arrow-img__wrapper {
  display: flex;
  gap: 8px;
  justify-content: end;
}

.arrow-btn {
  width: 32px;
  height: 32px;
  border: 1px solid $elements-color;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.arrow-image {
  fill: $gray-icons;
}

.arrow-image:hover {
  fill: $primary-color;
}

.arrow-btn:hover {
  border: 1px solid $gray-icons;
}
