@import "colors";

.products {
  overflow: hidden;
  margin-bottom: 40px;

  &-title {
    font-family: "Mont", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    padding-bottom: 4px;
  }

  &-filter__area {
    display: flex;
    gap: 16px;
    margin-top: 40px;
  }

  &-type__wrapper {
    display: flex;
    gap: 16px;
    margin: 40px 0 24px;
  }

  &-wrapper {
    display: grid;
    justify-items: center;
  }

  &-list {
    flex-wrap: wrap;
    max-width: 1136px;
    margin: 0 auto;
    display: grid;
    gap: 40px 16px;
    justify-items: center;
  }
}

.mobile-card {
  align-items: center;
  justify-content: center;
}

.filter-text {
  color: $gray-secondary;
  font-family: "Mont", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 4px;
}

// .active {
//   fill: $primary-color;
// }

@media (min-width: 600px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
